<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, du dossier views !</h1>
    <a href="/gossips/new/"><p>clique ici pour cree un potin</p></a>

<% i = 0 %>

	<% gossips.each do |gossip| %>
        <p>
          <a href=/gossips/<%= i %> >
          <%= gossip.author %><br/>
          <%= gossip.content %>
          </a>
        </p>
        <% i = i + 1%>
    <% end %>



  </body>
</html>